<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35255961045-islb1ohe3qalj1k6ld36f3oj7rf4hf06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35255961045-islb1ohe3qalj1k6ld36f3oj7rf4hf06</string>
	<key>API_KEY</key>
	<string>AIzaSyCSpG-fBXMGMx2wkXSNTF_dZMLuAWXM2HM</string>
	<key>GCM_SENDER_ID</key>
	<string>35255961045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBoilerplate.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-boilerplate-dev-43f92</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-boilerplate-dev-43f92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35255961045:ios:02c316347f0fdef70da95c</string>
</dict>
</plist>